@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$font-family: 'Kumbh Sans', sans-serif;
$color-white:#fff;
$primary1-dark-cyan:hsl(185, 75%, 39%);
$very-dark-desaturated-blue:hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$darkgray: hsl(0, 0%, 59%);

*,
*::after,
*::before {box-sizing: inherit; margin: 0; padding: 0;}


body{
    /* Background Images */
    background-color:$primary1-dark-cyan;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 52vw bottom 40vh, left 50vw top 50vh;  

    /* Layout */
    box-sizing: border-box;
    font-family: $font-family;
    width:100vw;
    height:100vh;
    }

main{
  margin: 0 auto;
  margin-top: 13em;
  width: 23em;
  height:25em;

  .card{
    border-radius: 1em;
    width: 21.8em;
    max-height:25em;
    padding-top: 4.6rem;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5rem 2rem rgba($dark-grayish-blue, 1);
    background: url(../images/bg-pattern-card.svg) no-repeat;
    background-color: $color-white;
      .card-header{
        display: flex; 
        align-items: center; 
        justify-content: center;
        flex-direction: column;

        .card-pfp{
            border-radius: 50%;
            border: .5em solid $color-white;
            z-index: 2;
        }
        .card-header-info{
            display: flex;
            align-items: center; 
            gap:.8em;
            padding:0.5em 0;
            .card-name{
                font-size:1.3em;
                color:$very-dark-desaturated-blue;
            }
            .card-age{
                font-size: 1.3em;
                color:$darkgray;
            }
        }
        .card-location{
            color: $darkgray;
            padding:0 0 2.2em 0;
        }
      }   
      .card-profile-stats{
        width: 100%;
        padding: 2rem 0;
        border-top: 1px solid lighten($darkgray, 30%);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      .stat {
        &-number {
          font-weight: 700;
          color: $very-dark-desaturated-blue;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
        }
      
        &-text {
          font-weight: 400;
          font-size: .8rem;
          letter-spacing: 1px;
          color: $dark-grayish-blue;
        }
    }
    //   .card-bottom-info{
    //       text-align: center;
    //       border-top: 1px solid lighten($darkgray, 30%);
    //       margin-top:1.8em;
    //       padding: 0 0 3em 0;

    //       .card-user-info{
    //           padding:1.5em 0 0 0;
    //           color:$dark-grayish-blue;
    //           font-weight: 700;
    //           word-spacing: 3em;
    //       }
    //     //   .card-user-info-desc{
    //     //     word-spacing: 3em;
    //     //   }
    //   }
   }
}





    
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }